.message {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
}

.iconContainer {
    width: 45px;
    height: 31px;
    mask-size: cover;
}

.content {
    width: 100%;
    padding: 0 15px;
}

.summary {
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 17px;
    font-weight: bold;
}

.detail {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.closeButton {
    align-self: start;
}
